<div class="footer_container">
    <footer class="footer">
        <small>
            this is my awsome footer
        </small>
    </footer>
    <nav>
        <ul>
            <li> <%= link_to 'About', about_path %> </li>
        </ul>
    </nav>
</div>